
#gap{
    -fx-background-image: url("pics/GAP.png");
    -fx-background-color: #9ca198;
    -fx-border-radius: 200;
    -fx-background-repeat: round;
    -fx-background-size: cover;
}

#py{
    -fx-background-color: aquamarine;
    -fx-background-image: url("pics/PY.png");
    -fx-background-repeat: round;
    -fx-background-size: cover;
}

#planeThird{
    -fx-background-image: url("pics/planeThird.png");
    -fx-background-repeat: round;
    -fx-background-size: cover;
}

#string1Label1, #string1Label2{
    -fx-font-size: 11px;
    -fx-font-weight: bolder;
    -fx-hgap: 0;
}

.redLight{
    -fx-stroke-width: 3px;
    -fx-fill: darkred;
}

.Label{
    -fx-font-family: sans-serif;
    -fx-font-weight: 700;
}


#yellowLight1{
    -fx-stroke-width: 3px;
    -fx-fill: #ffb836;
}

.greenLight{
    -fx-stroke-width: 3px;
    -fx-fill: darkgreen;
}

.blackLight{
    -fx-stroke-width: 3px;
    -fx-fill: dimgrey;
}

.grayButton, .redButton{
    -fx-border-color: aliceblue;
    -fx-background-color: #3c3b3b;
    -fx-border-width: 3px;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0, 3);

}

.toggle-button, .button{
    -fx-background-insets: 0;
}

.grayButton:selected{
    -fx-border-width: 1px;
}

.grayButton:pressed{
    -fx-border-width: 1px;
}


.redButton {
    -fx-border-color: aliceblue;
    -fx-background-color: darkred;
    -fx-border-width: 3px;
}

.redButton:pressed{
    -fx-border-width: 1px;
}

.Tumbler{
    -fx-background-image: url("pics/tumbler.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-rotate: 180deg;
}
.Tumbler:selected, #panel1tumbler1:selected{
    -fx-rotate: 0deg;
}

#panel1tumbler1, #panel1tumbler2{
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}



#panel1tumbler1{
    -fx-rotate: 180deg;
    -fx-background-image: url("pics/tumbler1.png");
}


#panel1tumbler2{
    -fx-background-image: url("pics/tumbler3.png");
    -fx-rotate: -80deg;
}

#panel1tumbler2:selected{
    -fx-rotate: -40deg;
}

.blackSwitcher{
    -fx-background-image: url("pics/tumbler3.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.panel3Button{
    -fx-border-color: cornsilk;
    -fx-background-color: rgba(22,22,22,0.8);
    -fx-border-width: 3;
}

.panel3Button:selected{
    -fx-effect: innershadow( three-pass-box , cornsilk, 0, -10.0 , 0, 0);
    -fx-border-width: 2;
}

.split-pane > .split-pane-divider {
//-fx-effect: innershadow( three-pass-box , white, 6, 0 , 2, 2);
//-fx-background-color: linear-gradient(to right, gray,  lightgray, lightgray, gray);
    -fx-background-image: url("pics/slider.png");
    -fx-background-repeat: repeat-y;
    -fx-padding: 0 7 0 7;
    -fx-background-size: contain;
    -fx-border-width: 1;
}

#panel3yellowLight{
    -fx-fill: beige;
}

.panel3switch{
    -fx-background-image: url("pics/tumbler4.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
/*Отменить последние действие*/

#hint{
    -fx-font-size: 20px;
}

.Menu #menu{
    -fx-font-size: 20px;
    -fx-background-color: #ffb836;
    -fx-text-fill: red;

}

#AP{
    -fx-background-color: aquamarine;
    -fx-background-image: url("pics/start.png");
    -fx-background-repeat: round;
    -fx-background-size: stretch;
}


