.toggle-button {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: inherit;
}

.toggle-button:selected {
    -fx-rotate: 180deg;
}

#gap{
    -fx-background-image: url("pics/GAP.png");
    -fx-background-color: aqua;
    -fx-background-repeat: round;
    -fx-background-size: cover;

}

#py{
    -fx-background-color: aquamarine;
    -fx-background-image: url("pics/PY.png");
    -fx-background-repeat: round;
    -fx-background-size: cover;
}

#planeThird{
    -fx-background-image: url("pics/planeThird.png");
    -fx-background-repeat: round;
    -fx-background-size: cover;
}

#firstLabelPanel1 {

}
#secondLabelPanel1{

}

#string1Label1, #string1Label2{
    -fx-font-size: 11px;
    -fx-font-weight: bolder;
    -fx-hgap: 0;
}

#redLight1,#redLight2,#redLight3{
    -fx-stroke-width: 3px;
    -fx-fill: darkred;
}


Label{
    -fx-font-family: sans-serif;
    -fx-font-weight: 700;
}


#yellowLight{
    -fx-stroke-width: 3px;
    -fx-fill: #ffb836;
}

#greenLight1{
    -fx-stroke-width: 3px;
    -fx-fill: darkgreen;
}

#blackLight1{

}

/*Отменить последние действие*/


